# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://postgres.kximvddnirjpwlkgnnjx:[YOUR-PASSWORD]@aws-1-eu-west-2.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres.kximvddnirjpwlkgnnjx:[YOUR-PASSWORD]@aws-1-eu-west-2.pooler.supabase.com:5432/postgres"

# NextAuth configuration
NEXTAUTH_SECRET="your_nextauth_secret"
NEXTAUTH_URL="http://localhost:3000"

# Google OAuth credentials
GOOGLE_CLIENT_ID="your_google_client_id"
GOOGLE_CLIENT_SECRET="your_google_client_secret"
